<table class="table table-hover table-bordered">
    <caption id="txt"></caption>
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Vital 1</th>
        <th scope="col">Vital 2</th>
        <th scope="col">Vital 3</th>
        <th scope="col">Life Rating</th>
        <th scope="col">Live Chart</th>
      </tr>
    </thead>
    <tbody>
      <tr class="">
        <th scope="row">1</th>
        <td>20</td>
        <td>30</td>
        <td>20</td>
        <td>2.0</td>
        <td><div id="chartContainer" style="height: 150px; width: 100%;"></div></td>
      </tr>
      <tr class="">
        <th scope="row">2</th>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>3.0</td> 
        <td><div id="chartContainer1"></div></td>
      </tr>
    </tbody>
  </table>
